# exclude all
/*

# include git important files
!.gitmodules
!.gitignore

# include sourcecode
!src/
!res/

# include game files
!levels/

# submodules
!library/
!version/
!language/

# include important folders and files
!LICENSE
!README.md
!libs/

# exclude resources
*.psd
